<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>Servlets.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTableServlet</servlet-name>
        <servlet-class>Servlets.NewTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTableServlet</servlet-name>
        <servlet-class>Servlets.CreateTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>Servlets.createUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createDBServlet</servlet-name>
        <servlet-class>Servlets.createDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRegistryServlet</servlet-name>
        <servlet-class>Servlets.addRegistryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTableServlet</servlet-name>
        <url-pattern>/NewTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTableServlet</servlet-name>
        <url-pattern>/CreateTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/createUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createDBServlet</servlet-name>
        <url-pattern>/createDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRegistryServlet</servlet-name>
        <url-pattern>/addRegistryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
